/* navigation bar and Headers*/
.*{
    display: flex;
    flex-wrap: wrap;
}
.navbar {

    display: flex;
    width: 100%;
}

.imgl {
    padding-left: 200px;
    width: 80px;
}

.imgl :hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

.logoimg {
    width: 130px;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 40%;
    list-style-type: none;
    margin-left: px;
    margin-top: 25px;
}

.navbar ul a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.navbar ul a:hover {
    color: #E38E49;
    text-underline-offset: 5px;
    text-decoration: underline;
    transition: font-size 0.1s;
    font-size: 19px;
}

/* navigation bar and Headers*/
.headera {
    height: 100vh;
    background-image: url("/Images/FacilitiesBackground.png"), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.718));
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: -10px;
    background-blend-mode: color;
}
/* Scroll button and Title*/
.scrollbutton {
    margin-left: 50%;
    padding-top: 100px;

}
.scrollbuttonimg {
    background-color: #E38E49;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    width: 45px;

}

.scrollbutton h3 {
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: -5px;
    margin-bottom: 10px;
}

.firstTitle {
    text-align: left;
    padding-top: 150px;
    color: #fff;
    font-size: 35px;
    padding-left: 200px;
    line-height: .4;
    font-family: berlin sans FB Demi, sans-serif;
    animation: slide 1s ease-out forwards;
}
/*scroll button and Title*/

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

/*footer elemets*/

.footer {
    background-color: #1e73be; /* Blue background */
    color: white;
    margin-top: 100px;
  }
  
  .footer-container {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 50px;
  }
  
  .footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  .footer-section p {
    margin-bottom: 5px;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .footer-section a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .links-social {
    padding-left: 70px;
    display: flex;
    justify-content: space-between;
  }
  
  .social-media p {
    padding-right: 100px;
  }
  
  .footer-section.newsletter form {
    display: flex;
    margin-top: 10px;
  }
  
  .footer-section.newsletter input {
    padding: 8px;
    width: 70%;
    border: none;
    border-radius: 3px 0 0 3px;
    font-size: 14px;
  }
  
  .footer-section.newsletter button {
    padding: 8px 12px;
    border: none;
    background-color: #f5a623;
    color: white;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
  
  .footer-section.newsletter button:hover {
    background-color: #e5941f;

  }
  .footer-section-company-info{
    padding-left: 75px;
  }
  /*footer elemets*/