
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.logincontainer{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;

}


.lil{
    background-color: white;
    width: 500px;
    margin: 0;
    padding: 50px;
    border-radius: 25px;    
    border: solid #007bff 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    
}

label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    }

h1{
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 0;


}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    text-transform: capitalize;
}


input[type="text"],input[type="password"]

{   
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 18px;
    border: 1px solid #bdc3c7; 
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    font-size: 14px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: white;
    color: #111111;
    border: #007bff solid 1px;
}
