.navbar {
  
    display: flex;
    width: 100%;
  }
  
  .imgl {
    margin-left: 200px;
    width: 80px;
  }
  
  .imgl :hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
  }
  
  .logoimg {
    width: 130px;
  }
  
  .navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 35%;
    padding-top: 8px;
    list-style-type: none;
  }
  
  .navbar ul a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
  }
  
  .navbar ul a:hover {
    color: #E38E49;
    text-underline-offset: 5px;
    text-decoration: underline;
    transition: font-size 0.1s;
    font-size: 19px;
  }
  
  .navbar ul a.active {
    color: #E38E49;
    font-weight: bold;
    text-decoration: none
  }

 

  .headera {
    height: 30vh;
    background-color: #007bff;
    background-size: cover;
  }
  
  /* navigation bar and Headers*/
  

  .reservationtitle{
    text-align: center;
    color: white;
    font-family: berlin sans FB Demi, sans-serif;
    font-size: 40px;
  }



/*Reservation Form*/

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f0f0f0;
  }


  .reservation_form {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
    border: 1px solid #e5941f;
     
  }

  .form-container {
    display: flex; 
    justify-content: space-between;
  }

  .form-container > div {
    flex: 1; 
    margin-right: 20px;
  }

  .form-container > div:last-child {
    margin-right: 0;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="date"],
  input[type="email"],
  textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #f5a623;
    border-radius: 5px;

  }

  textarea {
    resize: vertical;
    height: 100px;
  }

  select {
    
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #f5a623;
    border-radius: 3px;
  }

  .booknow {
    background-color: #f5a623;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 20px auto 0;
  }

  .booknow:hover {
    background-color: white;
    border-color: #f5a623;
    color: black;
    border: solid .5px #f5a623;
    transition: 0.5s ease-in-out;

  }

  /*Reservation Form end*/  

.footer {
  background-color: #1e73be;
  color: white;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  margin-left: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 50px;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.footer-section p {
  margin-bottom: 5px;
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-section a{
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.links-social {
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
}

.social-media p {
  padding-left: 50px;
  padding-right: 100px;
}

.footer-section.newsletter form {
  display: flex;
  margin-top: 10px;
}

.footer-section.newsletter input {
  padding: 8px;
  width: 40%;
  border: none;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
}

.Footer_button {
  padding: 8px 12px;
  border: none;
  background-color: #f5a623;
  color: white;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  margin-bottom: 15px;
  
}

.Footer_button:hover {
  background-color: #e5941f;

}

.footer-section-company-info {
  padding-left: 75px;
}

.copy {
  padding-bottom: 2px;
  margin: 0;
  text-align: center;
}

body{
  background-image: url('images/formback.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
 
}