/* navigation bar and Headers*/
.navbar {
    display: flex;
    width: 100%;
}

.imgl {
    padding-left: 200px;
    width: 80px;
}

.imgl :hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

.logoimg {
    width: 130px;
}

.headera {
    height: 100vh;
    background-image: url("/Images/Fbackground.png"), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.718));
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: -10px;
    background-blend-mode: color;

}


.firstTitle {
    text-align: left;
    padding-top: 150px;
    color: #fff;
    font-size: 35px;
    padding-left: 200px;
    line-height: .4;
    font-family: berlin sans FB Demi, sans-serif;
    animation: slide 1s ease-out forwards;
}

@keyframes slide {
    0% {
        transform: translateX(-40%);
    }

    100% {
        transform: translateX(0);
    }
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 40%;
    list-style-type: none;
    margin-left: 80px;
    margin-top: 25px;
}

.navbar ul a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.navbar ul a:hover {
    color: #E38E49;
    text-underline-offset: 5px;
    text-decoration: underline;
    transition: font-size 0.1s ease-in-out;
    font-size: 19px;
}

.scrollbutton {
    margin-left: 50%;
    padding-top: 100px;

}

.scrollbuttonimg {
    background-color: #E38E49;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    width: 45px;

}

.scrollbutton h3 {
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: -5px;
}

.Welcometxt {
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
    margin-left: center;
    text-align: justify;
    letter-spacing: .01em;
    word-spacing: .1em;
    line-height: 1.5;
    color: #111111;
    font-size: 20px;
    font-family: 'montserrat', sans-serif;
}

.cont1 {
    margin-top: 20px;
    display: flex;
}

.cont1img img {
    width: 70%;
    padding-top: 50px;
    padding-right: 750px;



}

.cont1text {
    padding-top: 110px;
    width: 60%;
    padding-left: 20%;
}

.cont1text h1 {
    font-size: 28px;
    font-family: 'montserrat', sans-serif;
    color: #14274A;

}

.cont1text p {
    font-size: 18px;
    font-family: 'montserrat', sans-serif;
    color: #111111;
    text-align: left;
    letter-spacing: .02em;
    word-spacing: .01em;
    line-height: 1.5;
    padding-right: 15%;

}
.break{
    background-color: #14274A;
    height: 3px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 30px;
}

  .counter-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 800px;
    margin-left: 25%;
    margin-top: 50px;
    background-color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .counter {
    text-align: center;
  }
  
  .counter h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333333; 
  }
  
  .counter p {
    font-size: 2.5em;
    font-weight: bold;
    color: #007bff;
  }
  
  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #007bff;
  }
  