/* navigation bar and Headers*/
.*{
    display: flex;
    flex-wrap: wrap;
}
.navbar {

    display: flex;
    width: 100%;
}

.imgl {
    margin-left: 200px;
    width: 80px;
}

.imgl :hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

.logoimg {
    width: 130px;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 40%;
    padding-top: 8px;
    list-style-type: none;
}

.navbar ul a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.navbar ul a:hover {
    color: #E38E49;
    text-underline-offset: 5px;
    text-decoration: underline;
    transition: font-size 0.1s;
    font-size: 19px;
}


.navbar ul a:active {
  color: orange;
  font-weight: bold;
}

.headera {
    height: 100vh;
    background-image: url("/Images/Fbackground.png"), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.718));
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: color;
}
/* navigation bar and Headers*/

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}



@keyframes slide {
    0% {
        transform: translateX(-40%);
    }

    100% {
        transform: translateX(0);
    }
}


/* Scroll button and Title*/
.scrollbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
    
    .scrollbuttonimg {
        background-color: #E38E49;
        color: white;
        border: none;
        border-radius: 50%;;
        cursor: pointer;
        font-size: 20px;
        transition: background-color 0.3s;
        width: 45px;  
    }
    .scrollbutton h3 {
        color: white;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: -5px;
        margin-bottom: 10px;
        
    }

    .firstTitle {
        text-align: left;
        padding-top: 150px;
        padding-left: 10%;
        color: #fff;
        font-size: 35px;
        line-height: .4;
        font-family: berlin sans FB Demi, sans-serif;
        animation: slide 1s ease-out forwards;
    }
    /*scroll button and Title*/


    @media screen and (max-width: 768px) { 
        .navbar {
          flex-direction: column; 
          text-align: center;
        }
      
        .navonlyul {
          flex-direction: column; 
          align-items: center;
        }
      
        .navonlyul li {
          margin: 10px 0; 
        }
      
        .firstTitle {
          font-size: 2rem; 
        }
      
        .cont1img, .cont2img {
          width: 100%; 
        }
      
        .cont1text, .cont2text {
          width: 100%; 
        }
      }
      
      @media screen and (max-width: 480px) { 
        .footer-container {
          flex-direction: column; 
        }
      }  
    
.Welcometxt {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    letter-spacing: .01em;
    word-spacing: .1em;
    line-height: 1.5;
    color: #111111;
    font-size: 20px;
    font-family: 'montserrat', sans-serif;
}

.Welcometxt p{
    width: 75%;
}
.cont1 {
    margin-top: 20px;
    display: flex;
}

.cont1img img {
    width: 70%;
    padding-top: 50px;
    padding-right: 750px;
    padding-left: 50px;
}

.cont1text {
    padding-top: 110px;
    width: 60%;
    padding-left: 17%;
}

.cont1text h1 {
    font-size: 28px;
    font-family: 'montserrat', sans-serif;
    color: #14274A;

}

.cont1text p {
    font-size: 18px;
    font-family: 'montserrat', sans-serif;
    color: #111111;
    text-align: left;
    letter-spacing: .02em;
    word-spacing: .01em;
    line-height: 1.5;
    padding-right: 15%;

}

.break {
    background-color: #007bff;
    height: 3px;
    margin-top: 30px;
    width: 500px;
    border-radius: 25px;   
}

.counter-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 800px;
    margin-left: 25%;
    margin-top: 50px;
    background-color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.counter {
    text-align: center;
}

.counter h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333333;
}

.counter p {
    font-size: 2.5em;
    font-weight: bold;
    color: #007bff;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #007bff;
}

.butReadmore {
    font-size: 14px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    position: relative;
}

.butReadmore:hover {
    background-color: white;
    color: #111111;
    transition: background-color .5s;
    border: #007bff solid 1px;
}



  

.cont2 {
    margin-top: 20px;
    display: flex;
}

.cont2img img {
    width: 70%;
    padding-top: 50px;
    padding-right: 750px;
    padding-left: 50px;
}

.cont2text {
    padding-top: 110px;
    width: 60%;
    padding-left: 17%;
}

.cont2text h1 {
    font-size: 28px;
    font-family: 'montserrat', sans-serif;
    color: #14274A;

}

.cont2text p {
    font-size: 18px;
    font-family: 'montserrat', sans-serif;
    color: #111111;
    text-align: left;
    letter-spacing: .02em;
    word-spacing: .01em;
    line-height: 1.5;
    padding-right: 15%;

}

.testimonial-container {
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    margin-top: 90px;
    margin-left: 30%;
}

.testimonial-container h2 {
    font-size: 2em;
    color: #333;
}

.testimonial-container p {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0;
}

.buttons {
    margin-top: 20px;
}

.button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

/*footer elemets*/

.footer {
    background-color: #1e73be;
    color: white;
    margin-top: 100px;
  }
  
  .footer-container {
    display: flex;
    margin-left: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 50px;

  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  .footer-section p {
    margin-bottom: 5px;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .footer-section a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .links-social {
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
  }
  
  .social-media p {
    padding-left: 50px;
    padding-right: 100px;
  }

  .footer-section.newsletter form {
    display: flex;
    margin-top: 10px;
  }
  
  .footer-section.newsletter input {
    padding: 8px;
    width: 40%;
    border: none;
    border-radius: 3px 0 0 3px;
    font-size: 14px;
  }
  
  .footer-section.newsletter button {
    padding: 8px 12px;
    border: none;
    background-color: #f5a623;
    color: white;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
  
  .footer-section.newsletter button:hover {
    background-color: #e5941f;

  }
  .footer-section-company-info{
    padding-left: 75px;
  }
  .copy{
    padding-bottom: 2px;
    margin: 0;
    text-align: center;
  }

  /*footer elemets*/
  