/* navigation bar and Headers*/
.navbar {
    display: flex;
    width: 100%;
}

.imgl {
    padding-left: 200px;
    width: 80px;
}

.imgl :hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

.logoimg {
    width: 130px;
}

.headera {
    height: 100vh;
    background-image: url("/Images/Fbackground.png"),linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.718));;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: -10px;
    background-blend-mode: color;
    
}

.firstTitle {
    text-align: left;
    padding-top: 150px;
    color: #fff;
    font-size: 35px;
    padding-left: 200px;
    line-height: .4;
    font-family: berlin sans FB Demi, sans-serif;
    animation: slide 1s ease-out forwards;
}

@keyframes slide {
    0% {
        transform: translateX(-40%);
    }

    100% {
        transform: translateX(0);
    }
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 40%;
    list-style-type: none;
    margin-left: 80px;
    margin-top: 25px;
}

.navbar ul a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.navbar ul a:hover {
    color: #E38E49;
    text-underline-offset: 5px;
    text-decoration: underline;
    transition: font-size 0.1s ease-in-out;
    font-size: 19px;
}

.scrollbutton{
        margin-left: 50%;
        padding-top: 100px;

}
.scrollbuttonimg {
    background-color: #E38E49;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    width: 45px;
    
}
.scrollbutton h3{
    color: white;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: -5px;
}
